.env
__pycache__
modelo/Huevo
modelo/Larva
modelo/Planta_Sana
modelo/Pupa
modelo/modelo_entrenado.h5
modelo/data
modelo/logs
modelo/Otros
venv
backendtesis.pem
modelo/Choose pet datset for kaggle
modelo/reptiles